DATABASE_URL="postgresql://pyramid:pyramid@localhost:5432/pyramid?schema=public"
DIRECT_URL="postgresql://pyramid:pyramid@localhost:5432/pyramid?schema=public"
JWT_SECRET=""
JWT_REFRESH_SECRET=""
PORT=3001
APP_URL="http://localhost:3000"
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
GOOGLE_CALLBACK_URL="http://localhost:3000/api/v1/auth/google/callback"
